# Build propertes for Lagoon
# Customize for your system

JFlex=JFlex.jar
FOP=fop.jar
LogKit=logkit-1.0.jar
Batik=lib
JAF=activation.jar
JARV=iso-relax.jar
Ant=ant.jar
JUnit=junit.jar
LSP=lsprt.jar
LSPC=lspc.jar
