# Build propertes for Lagoon
# Customize for your system

JLex=JLex
FOP=fop.jar
LogKit=logkit-1.0.jar
Batik=lib
JAF=activation.jar
JARV=iso-relax.jar
Ant=ant.jar
BCEL=bcel.jar
JUnit=junit.jar
Servlet=servlet.jar

