<?xml version="1.0" encoding="iso-8859-1"?>

<config>

<source class="nu.staldal.lagoon.producer.FileSource"/>
<source type="dir" class="nu.staldal.lagoon.producer.DirSource"/>
<source type="url" class="nu.staldal.lagoon.producer.URLSource"/>

<read class="nu.staldal.lagoon.producer.FileRead"/>
<read type="url" class="nu.staldal.lagoon.producer.URLRead"/>

<transform type="xslt" class="nu.staldal.lagoon.producer.XSLTransformer"/>
<transform type="split" class="nu.staldal.lagoon.producer.BasicSplit"/>
<transform type="lsp" class="nu.staldal.lagoon.producer.LSPTransformer"/>

<format type="xml" class="nu.staldal.lagoon.producer.XMLFormatter">
	<param name="method">XML</param>
</format>
<format type="xhtml" class="nu.staldal.lagoon.producer.XMLFormatter">
	<param name="method">XHTML</param>
</format>
<format type="html" class="nu.staldal.lagoon.producer.XMLFormatter">
	<param name="method">HTML</param>
</format>
<format type="text" class="nu.staldal.lagoon.producer.XMLFormatter">
	<param name="method">TEXT</param>
</format>
<format type="pdf" class="nu.staldal.lagoon.producer.FOPFormatter"/>

<parse class="nu.staldal.lagoon.producer.XMLParse"/>

<filestorage class="nu.staldal.lagoon.filestorage.LocalFileStorage"/>

<filestorage class="nu.staldal.lagoon.filestorage.FTPFileStorage"
	urlprefix="ftp"/>

<filestorage class="nu.staldal.lagoon.filestorage.SSHFileStorage"
	urlprefix="ssh"/>

</config>
